<h1>Contact Stitch</h1>

<p>Email: janyn.yp@gmail.com</p>

<ul>
    <%= link_to "https://github.com/janynsen/" do %>
      <%= image_tag 'github.png' %>
    <% end %>
    
    <%= link_to "https://www.facebook.com/janyn.yp" do %>
      <%= image_tag 'facebook.png' %>
    <% end %>
    
    <%= link_to "https://sg.linkedin.com/in/janyn-sen" do %>
      <%= image_tag 'linkedin.png' %>
    <% end %>
</ul>